<div>
    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/comments", scope: :comment do |f| %>
        <%= f.text_field :text %><br>
        <%= f.submit 'Add Comment' %>
    <%end%>
</div>
